@import 'tailwindcss';

@theme {
  /* --color-{name}-{scale}: value; */
  --color-primary-50: #fff7ed;
  --color-primary-100: #ffedd5;
  --color-primary-200: #fed7aa;
  --color-primary-300: #fdba74;
  --color-primary-400: #fb923c;
  --color-primary-500: #f97316;
  --color-primary-600: #ea6c0a;
  --color-primary-700: #c2540a;
  --color-primary-800: #9a3c0a;
  --color-primary-900: #7c2d12;
}
